* {
    margin: 0;
    padding: 0;

}

body {

    font-family: 'Alegreya Sans', sans-serif;
    /* font-family: 'Fuggles', cursive;
    font-family: 'Indie Flower', cursive; */
}

/* intro started */
.similar-width {
    width: 50%;
    margin: 0 100px;
}

.intro {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;

}

.container {
    display: flex;
    margin: 0 100px 200px 100px;
}

.heading h1 {
    font-size: 8vh;
    font-family: 'Indie Flower', cursive;
}

.heading h1 span {
    color: #FFA500;
}

.heading h3 {
    font-size: 5vh;
    font-family: 'Alegreya Sans', sans-serif;
    margin: 2vh 0;
}

.text-body p {
    font-size: 20px;
    padding: 20px 0;
    margin: 20px 0;
    color: #696969;
    /* text-align: justify; */
}


.text-body-btn {
    text-decoration: none;
    background-image: linear-gradient(#F88567, #FFA500);
    border-radius: 20px;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    padding: 10px 20px;
    color: white;


}

.text-img img {
    width: 100%;

}

/* intro end */
/* dream started */
.dream {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;


}

/* dream section end */


/* experience section start */


.experience {}

.experience-title h1 {
    font-size: 60px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    margin-left: 200px;
}

#one {
    border-left: 5px solid;
    border-image:linear-gradient(#FF9D78, #FF6549);
    border-image-slice:1;
    


}
#two {
    border-left: 5px solid;
    border-image:linear-gradient(#0105FF, #01EFFF);
    border-image-slice:1;
   
    00F5FF


}

.single-experience {
    padding: 10px 30px 30px;
    margin-top: 30px;
    box-shadow: 5px 2px 18px 5px #C8C8C8;
    border-radius: 5px;
}

.single-experience-heading {
    padding: 25px 0;

}

.single-experience-heading h1 {
    font-size: 50px;

}

.single-experience-heading h3 {
    font-size: 25px;
    margin: 20px 0;
    color: #FFA500;

}



.single-experience-body p {
    font-size: 20px;
    color: #696969;
    margin-bottom: 100px;
}



/* experience section end */